<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>voice_cook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A53A919D1F52B373000FCED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53A91B11F52B373000FCED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53A91BC1F52B373000FCED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
